body {
	width: 100%;
   	margin-top: 125px;
   	font-family: 'Oxygen', sans-serif;
   	box-sizing: border-box;
}
.navbar .container .nav-link:hover{
	color: #1A7373;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .navbar-brand img {
        max-width: 200px;
    }
    .navbar-toggler {
        font-size: 20px;
    }
}
.dropdown:hover .dropdown-menu {
  	display: block;
}
.navbar .dropdown-menu {
  	margin-top: 0;
}
.navbar .dropdown-menu .dropdown-item:hover {
	color: white;
  	background-color: #1A7373;
}
@media only screen and (min-width: 650px) and (max-width: 800px) {
    .container {
		width: 100%;
		max-width: none;
	}	
	.h4{
		font-size: 20px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 650px) {	
	.h4{
		font-size: 15px;
	}
}
.komarnici{
	width: 100%;
}
.description{
	width: 100%;
	position: relative; 
}
.description:hover .komarnici{
	transition-duration: 0.5s;
	opacity: 0.2;
}
.footer{
	width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
.description:hover .centered{
	transition-duration: 0.5s;
	visibility: visible;
}
.description:hover h6{
	color: #1A7373;
}
.footer{
	color: #1A7373;
}
.container-fluid { 
  	padding: 0px;
  	overflow: hidden;
}
@media only screen and (max-width: 1560px){
	#komarnik{
		width: 90%;
	}
}
.jumbotron{
	margin-bottom: 0px !important;
}
.vertikalni-levo{
	position: absolute;
	top: 50%;
	left: 4px;
	height: 100px;
	line-height: 1;
	opacity: 0.6;
  	box-shadow: 10px 20px 10px -2px rgba(0, 0, 0, .5);
  	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.vertikalni-desno{
	position: absolute;
	top: 50%;
	right: -187px;
	padding-top: 40px;
	height: 100px;
	line-height: 1;
	opacity: 0.6;
  	box-shadow: 10px -20px 20px -2px rgba(0, 0, 0, .5);
  	transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.vertikalni-levo h4{
	padding: 20px;
	font-size: 18px;
}
.description:hover .vertikalni-levo{
	visibility: hidden;
}
.vertikalni-desno h4{
	padding: 20px;
	font-size: 18px;
}
.description:hover .vertikalni-desno{
	visibility: hidden;
}
@media only screen and (min-width: 110px) and (max-width: 650px) {
    .navbar .container .nav-link{
		font-size: 14px;
	}
}
.about{
	font-size: 13px;
}
.footer .fab{
	color: white;
	font-size: 25px;
}
.footer li:hover .fab{
	color: #1A7373;
	transform: scale(1.5, 1.5);
}
#map{
    width: 100%;
    height: 300px;
}
table{
	font-size: 15px;
	color: white;
	border-collapse: collapse;
	float: right;
}
table th, td{
	padding-top: 20px;
}
table td{
	padding-left: 30px;
}
@media only screen and (max-width: 991px){
	.col-md-12{
		padding-left: 0px !important;
	}
}
@media only screen and (min-width: 576px) and (max-width: 800px) {
    .vertikalni-levo h4{
		font-size: 15px;
	}
	.vertikalni-desno h4{
		font-size: 15px;
	}
	.vertikalni-desno{
		padding-top: 45px;
		right: -165px;
	}
}
.naslov{
	box-shadow: 10px -20px 20px -2px rgba(0, 0, 0, .5);
	color: black;	
}
.carousel-caption {
	opacity: 0.6;
}
#komarnik1{
	width: 70%;
}
@media only screen and (max-width: 576px){
	.w-50{
		width: 100% !important;
	}
	.carousel-caption {
		display: none;
	}
}
@media only screen and (max-width: 420px){
	.vertikalni-levo h4{
		font-size: 10px;
	}
	.vertikalni-desno h4{
		font-size: 10px;
	}
	.vertikalni-desno{
		padding-top: 50px;
		right: -130px;
	}
	.vertikalni-levo{
		padding-top: 0px;
		left: -5px;
	}
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 576px) and (max-width: 676px) {
    .navbar .container .nav-link{
		font-size: 12px;
		padding: 5px !important;
	}
}
.dugme{
	background-color: #1A7373;
	color: white;
}
.naziv{
	color: #1A7373;
}